{% extends 'user/base.html' %}

{% block content %}
    <form method="POST" class="needs-validation" novalidate>
        {% csrf_token %}
        <div class="text-center">
            <div class="font-30"><a href="{% url 'login' %}">TStable</a></div>
        </div>

        <div class="divider d-flex align-items-center my-4">
        <!-- <p class="text-center fw-bold mx-3 mb-0">Or</p> -->
        </div>
        <!-- <input hidden autocomplete="username" value="{{ form.user.get_username }}"> -->
        
        <div class="form-outline mb-2">
            <input type="password" name="old_password" id="form3Example1" class="form-control form-control-lg"
                placeholder="Enter password" required />
            <label class="form-label" for="form3Example1">기존 비밀번호</label>
        </div>
        <div class="d-flex justify-content-between align-items-center errors">
            {{ form.old_password.errors }}
        </div>

        <div class="form-outline mb-2">
            <input type="password" name="new_password1" id="form3Example2" class="form-control form-control-lg"
                placeholder="Enter password" required />
            <label class="form-label" for="form3Example2">재설정할 비밀번호</label>
        </div>
        <div class="d-flex justify-content-between align-items-center errors">
            {{ form.errors.new_password1 }}
        </div>

        <div class="form-outline mb-2">
            <input type="password" name="new_password2" id="form3Example3" class="form-control form-control-lg"
                placeholder="Enter password" required />
            <label class="form-label" for="form3Example3">비밀번호 다시 입력</label>
        </div>
        <div class="d-flex justify-content-between align-items-center errors">
            {{ form.errors.new_password2 }}
        </div>

        <div class="text-center text-lg-start mt-4 pt-2">
            <button type="submit" class="btn btn-primary btn-lg"
            style="padding-left: 2.5rem; padding-right: 2.5rem;">
                Change
            </button>
        </div>

    </form>
{% endblock %}